body{
  padding: 0px;
  margin: 0px;
  
}
.container{
  max-width: 1200px;
  margin: auto;
}
.title-section {
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
}

/* MENU */
.menu {
  float: right;
  margin-top: 65px;
  padding: 0px;
}

.menu li {
  font-family: 'Chivo', sans-serif;
  font-size: 20px;
  font-weight: bold;;
  list-style: none;
  text-transform: uppercase;
  display: inline;
  padding: 15px;
}

.menu a{
  text-decoration: none;
  color: black; 
  padding: 10px;
}

.menu li a:hover {
  color: white;
  background-color: #931212; 
}

#logo {
  padding: 15px 0 10px 15px;
}





/* Titulo */
header {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Chivo', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 1px 0px;
  text-decoration: none;
}

header a {
  color: white;
  text-decoration: none;
  padding: 18px 8px;
}

header a:hover {
  background-color: white;
  color: black;
  display: inline;
}

header a:active {
  background-color: rgb(6, 61, 6);
  color: white;
}





/* IMC */
.container-imc {
  background-image: url(../images/imc-montagem-1000px-2.png);
  background-size: cover;
  max-width: 1160px;
  margin: auto;
  padding: 20px;
  overflow: hidden;
}

.container-form-imc {
  max-width: 300px;
  background-color: #E5E5E5;
  padding: 20px;
  font-size: 20px;
  float: left;
}

#imc-title {
  font-family: 'Chivo', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.imc-form {
  font-weight: bold;
}

.imc {
  padding: 20px;
  width: 255px;
  margin: 0px 0px 20px;
  border: none;
}

.imc-button{
  max-width: 1000px;
  padding: 20px;
  width: 295px;
  margin: 0px 0px 20px;
  background-color: rgb(6, 61, 6);
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.erro-imc {
  color: red;
  font-size: 16px;
}

#resultado {
  font-family: 'Chivo', sans-serif;
}

.resultado-destaque {
  color: red;
}




/*Sobre Mim*/
.about-h3 {
  font-family: 'Chivo', sans-serif;
  font-size: 25px;
}

.container-about, .container-skills {
  max-width: 600px;
  display: inline-block;
}

.container-about {
  padding-right: 30px;
}
.container-skills {
  background-color:#E5E5E5;
  width: 545px;
  padding-left: 20px;
}

.p-section, div ul li{
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}





/*Treinamentos*/
.trainings {
  display: inline-block;
  background-color: #E5E5E5;
  ;
  width: 236px;
  padding: 25px 0px 0px ;
  text-align: center;
  font-size: 19px;
  font-family: 'Chivo', sans-serif;
}

.trainings:hover{
  background-color:#931212;
  color: white;
}

/*Contatos*/
#contatos>p {
  font-size: 1.5em;
}

.contatos{
  display: inline-block;
  width: 320px;
  padding: 20px 5px;;
  text-align: center;
  font-size: 1.2em;
  margin: auto;
}


.contatos>a {
  font-family: 'Chivo', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-decoration: none;
  
}

.contatos:hover {
  background-color: #931212;
  color: white;
}

.contatos>a:active {
  text-decoration: none;
  color: black;
}

.contatos>img {
  display:block;
  margin: auto;
  margin-bottom: 15px;
}



footer{
  max-width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 0px;
  margin-top: 20px;
  font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  header {
    font-size: 1.1em;
  }

  .title-section {
    margin-left: 25px;
    margin-right: 25px;
    
  }

  .about-h3 {
    margin-top: 5px;
  }

  .container-about, .container-skills {
    margin-left: 25px;
    margin-right: 25px;
  }

  .container-about {
    width: 480px;
    margin-right: 0px;
  }

  .container-skills {
    width: 340px;
    margin-left: 55px;
    padding: 30px 20px 0px 20px;
  }
  
  #treinamentos>article {
    margin-left: 25px;
    margin-right: 25px;
  }
  .trainings {
    width: 320px;
  }

  #depoimentos>iframe {
    margin-left: 25px;
    margin-right: 25px;
    width: 459px;
  }

  #contatos>p, #contatos>article {
    margin-left: 25px;
    margin-right: 25px;
  }

  .contatos{
    width: 310px;
    padding: 20px 5px;;
    text-align: center;
    font-size: 1.2em;
    
  }

  .contatos>img {
    display:block;
    margin: auto;
    margin-bottom: 15px;
  }
}